.todolist-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 5px;
  box-shadow: 1px 9px 24px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 9px 24px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 9px 24px -4px rgba(0, 0, 0, 0.75);

  .todo-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    border-bottom: 1px solid $LightGrayishBlue;

    .todo {
      display: flex;
      width: 80%;
      align-items: center;
      cursor: pointer;
      text-align: center;
      padding: 10px;

      .checker {
        width: 1.5em;
        height: 1.5em;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        appearance: none;
        -webkit-appearance: none;
        background-color: $VeryLightGray;
        outline: none;
        cursor: pointer;
      }

      .checker:checked {
        background-image: url("../images/icon-check.svg"),
          linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        background-position: center;
        background-repeat: no-repeat;
        border: none;
      }

      p {
        margin: 0 8px;
        text-align: center;
      }

      .light {
        color: $VeryDarkGrayishBlue;
      }

      .dark {
        color: $LightGrayishBlue;
      }
    }
    .cross {
      width: 14px;
      height: 14px;
      margin-right: 20px;
      cursor: pointer;
    }
  }

  .filter_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0;
    .items {
      font-size: 12px;
      margin-left: 20px;
      font-weight: 700;
      color: $DarkGrayishBlue;
      cursor: pointer;
    }

    .filter-type {
      display: flex;
      width: 70%;
      align-items: center;
      justify-content: center;

      p {
        font-size: 12px;
        margin: 6px;
        font-weight: 700;
        color: $DarkGrayishBlue;
        cursor: pointer;
      }
    }
    .clear {
      font-size: 12px;
      font-weight: 700;
      color: $DarkGrayishBlue;
      margin-right: 20px;
      cursor: pointer;
    }
  }
}

.lightTodolist {
  background-color: $VeryLightGray;
}

.darkTodolist {
  background-color: $VeryDarkGrayishBlue;
}
